# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env
*.env
!.env.example

# Builds
dist/
build/

# Logs
npm-debug.log*
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
